<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <!-- start nav -->
    <nav class="nav" id="nav">
      <div class="container">
        <div class="nav__container__parnav overflow">
          <div class="nav__container__parnav__brand float width50">
            <a href="#"><i class="fas fa-trumpet"></i> original Trompones</a>
          </div>
          <ul class="nav__container__parnav__ul float-r width50">
            <li><a href="#">Features</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Pricing</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end nav -->
    <!-- start sectionone -->
    <section class="sectionone pd-y" id="sectionone">
      <div class="sectionone__wrapper">
        <h4>Handcrafted, home-made masterpieces</h4>
        <div class="sectionone__wrapper__input">
          <input type="email" placeholder="Enter your email address" class="sectionone__wrapper__input__inpt" />
        </div>
        <button>Get started</button>
      </div>
    </section>
    <!-- end sectionone -->
    <!-- start sectiontwo -->
    <section class="sectiontwo" id="sectiontwo">
      <div class="container">
        <div class="sectiontwo__container__contents">
          <div class="sectiontwo__container__contents__content">
            <div class="sectiontwo__container__contents__content__aside overflow">
              <div
                class="sectiontwo__container__contents__content__aside__left float width10"
              >
                <i class="fas fa-fire"></i>
              </div>
              <div
                class="sectiontwo__container__contents__content__aside__right float width90"
              >
                <h3>Premium Materials</h3>
                <p>
                  Our trombones use the shiniest brass which is sourced locally.
                  This will increase the longevity of your purchase.
                </p>
              </div>
            </div>
          </div>
          <div class="sectiontwo__container__contents__content">
            <div class="sectiontwo__container__contents__content__aside overflow">
              <div
                class="sectiontwo__container__contents__content__aside__left float width10"
              >
                <i class="fas fa-fire"></i>
              </div>
              <div
                class="sectiontwo__container__contents__content__aside__right float width90"
              >
                <h3>Premium Materials</h3>
                <p>
                  Our trombones use the shiniest brass which is sourced locally.
                  This will increase the longevity of your purchase.
                </p>
              </div>
            </div>
          </div>
          <div class="sectiontwo__container__contents__content">
            <div class="sectiontwo__container__contents__content__aside overflow">
              <div
                class="sectiontwo__container__contents__content__aside__left float width10"
              >
                <i class="fas fa-fire"></i>
              </div>
              <div
                class="sectiontwo__container__contents__content__aside__right float width90"
              >
                <h3>Premium Materials</h3>
                <p>
                  Our trombones use the shiniest brass which is sourced locally.
                  This will increase the longevity of your purchase.
                </p>
              </div>
            </div>
          </div>
          <div class="sectiontwo__container__contents__content">
            <div class="sectiontwo__container__contents__content__aside overflow">
              <div
                class="sectiontwo__container__contents__content__aside__left float width10"
              >
                <i class="fas fa-fire"></i>
              </div>
              <div
                class="sectiontwo__container__contents__content__aside__right float width90"
              >
                <h3>Premium Materials</h3>
                <p>
                  Our trombones use the shiniest brass which is sourced locally.
                  This will increase the longevity of your purchase.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
     <!-- end sectiontwo -->
    <section id="how-it-works">
    <iframe id="video" height="315" src="https://www.youtube-nocookie.com/embed/y8Yv4pnO7qc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
    </section>
    <section id="pricing">
      <div class="product" id="tenor">
        <div class="level">TENOR TROMBONE</div>
        <h2>$600</h2>
        <ol><li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum.</li></ol>
          <button class="btn">Select</button>
      </div>
      <div class="product" id="tenor">
        <div class="level">BASS TROMBONE</div>
        <h2>$900</h2>
        <ol><li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum.</li></ol>
          <button class="btn">Select</button>
      </div>
      <div class="product" id="tenor">
        <div class="level">VALVE TROMBONE</div>
        <h2>$1200</h2>
        <ol><li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum.</li></ol>
          <button class="btn">Select</button>
      </div>
    </section>
    <footer>
      <ul>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <span>Copyright 2016, Original Trombones</span>
    </footer>
    <script
      src="https://kit.fontawesome.com/7280065e63.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
